{% extends 'base.html' %}
{% block title %}{% if name %}{{ name }}-{% endif %}Update User{% endblock %}

{% block content %}
<h1>Update User</h1>


<form method="POST" action="{{ url_for('admin.update_user', id=user.id) }}" novalidate>
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", value=user.name) }}
        {% for error in form.username.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {{ form.role.label(class="form-label") }}
        {{ form.role(class="form-control") }}
        {% for error in form.role.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>

    {{ form.submit(class="btn btn-primary ms-2") }}
    <a href="{{ url_for('admin.delete_user', id=user.id) }}" class="btn btn-danger">Delete</a>
</form>

{% endblock %}
