{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<h1>Sign Up</h1>
<form method="POST" action="{{ url_for('auth.signup') }}" novalidate>
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {% for error in form.username.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        {% for error in form.email.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {{ form.password_confirm.label(class="form-label") }}
        {{ form.password_confirm(class="form-control") }}
        {% for error in form.password_confirm.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>

    {{ form.submit(class="btn btn-primary") }}
</form>
<a href="{{url_for('google.login')}}" class="mt-2 d-block">Googleアカウントでログイン</a>
<a href="{{ url_for('auth.login') }}" class="mt-2 d-block">Already have an account?</a>
{% endblock %}